<div class="container mt-5">
    <div class="d-flex justify-content-between my-5">
        {{!-- <input id="myInput" type="text" placeholder="Search.."> --}}
        <a href="/admin/addCoupon" class="btn btn-success">Add Coupon</a>
    </div>
        
        <table class="table" id="userTable">
            <thead>
                <tr>
                    <th scope="col">Coupon Name</th>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">limit</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Expiry Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {{#each AllCoupons}}
                <tr>
                    <td><strong>{{this.couponName}}</strong></td>
                    <td style="font-size:12 px">
                        <strong>{{this.couponCode}}</strong></td>
                    </td>
                    <td>{{this.limit}}</td>
                    <td>{{this.discount}}</td>
                    <td>{{this.expirationTime}}</td>
                    
                    <td>
                        {{!-- <a href=" "  onclick="deletecoupon('{{this._id}}')" class="btn btn-danger">Delete</a> --}}
                         <a href="/admin/deleteCoupons/{{this._id}}" onclick="return confirm('Are you suren to delete coupon: {{this.couponName}}?')" class="btn btn-danger">Delete</a> 
                        
                       
                        
                    </td>
                </tr>
            {{/each}}
            
            
            
            </tbody>
        
        
        </table>

    <script>
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>

